/* couleur du thème */
$--color-primary: #1E969D;
$--color-success: #484538;
$--color-info: #cad49d;
$--color-warning: purple;
//$--color-warning: #d4eac8;
//$--color-danger: #c0d8e0;
$--color-danger: red;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

