/* Fonts */

@font-face {
    font-family: 'Gagalin';
    /* src: url('webfont.eot'); /* IE9 Compat Modes */
    /* src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    /* url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
    /* url('webfont.woff') format('woff'), Pretty Modern Browsers */
    src: url('./font/Gagalin-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./font/Gagalin-Regular.otf');
  }

.pointer{
    cursor: pointer;
  }

.font-17{
  font-size: 17px !important;
}

/* flex */

.flex{
    display:flex;
}

.opacity:hover{
  opacity: 0.93;
}

.f-auto{
    flex: auto;
}

.column{
    flex-direction: column;
}

.sp-around{
    justify-content: space-around;
}

.sp-between{
  justify-content: space-between;
}


/* float */

.f-left{
  float: left;
}

.f-right{
  float: right;
}

.f-center{
  float: center;
}

/* margin */

.m-l-5{
  margin-left: 5px;
}

.m-b-5{
  margin-bottom: 5px;
}

.m-l-10{

}

.m-l-20{
    
}

.m-auto{
  margin: auto;
}


.full_height{
    height: 100%;
}

.full_width{
  width: 100%;
}

.underligned{
  border-bottom: 1px solid #dfe0e6;
}


.lendle{
    font-family: 'Gagalin';
    color: #1E969D;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 25px !important;
}

.block{
  height: 50vh;
  overflow-y: auto;
}

opacity:hover{
    opacity: 0.95;
}

.high_opacity:hover{
  opacity: 0.95;
}

.center{
  text-align: center;
}


